.activities {

    &__header {
        background-image: $gradient-pink-orange;
        padding: 25px 30px;
        color: white;
        border-radius: 10px;
        margin-bottom: 20px;
        @include breakpoint(tablet){
            margin-bottom: 0;
        }

    }

    &__item {
        padding: 1rem 2rem;
        &--animation {
            background-color: #FCFCFF;
            margin-bottom: 20px;
        }
        &--design {
            background-color: #FCFCFF;
            margin-bottom: 20px;
        }
        &--photografy {
            background-color: #FCFCFF;
            margin-bottom: 20px;
        }
        &--cripto {
            background-color: #FCFCFF;
            margin-bottom: 20px;
        }
        &--business {
            background-color: #FCFCFF;
            margin-bottom: 20px;
        }

        &-icon {
          margin-bottom: 40px;
        }

        &-title {
            color: $black;
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 16px;
            margin-top: 20px;
        }

        &-description {
            font-size: 16px;
            line-height: 20px;
            color: $grey;
            margin-bottom: 16px;
        }

        &-cta {
            padding: 20px 20px 20px 0;
        }
    }
    .container {
        @include breakpoint(tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px 30px;
        margin-bottom: 50px;
        }
        @include breakpoint(tablethorizontal) {
            grid-template-columns: (1fr 1fr 1fr);
            gap: 80px 30px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    @include breakpoint(tablethorizontal) {
        margin-top: 120px;
    }
    @include breakpoint(desktop) {
        margin-top: 20px;
    }
}