.hero {
    margin-bottom: 120px;
    &__title {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 800;
        line-height: 51px;
    }

    &__subtitle {
        margin-bottom: 20px;
        color: $grey;
        line-height: 26px;
    }

    &__buttons {
        margin-bottom: 40px;
    }

    &__img {
        text-align: center;
        width: 80%;
        margin-left: 10%;
        position: relative;
        @include breakpoint(tablet) {
            width: 50%;
            margin: 0;
        }
    }

    &__number {
        display: inline-block;
        background-color: white;
        width: max-content;
        color: $black;
        padding: 5px;
        text-align: left;
        gap: 10px;
        position: absolute;
        border-radius: 1rem;
        box-shadow: 0 10px 1rem #ccc;
        span {
            display: block;
        }

        &-title{
            font-size: 14px;
            color: $grey;
        }

        &-number {
            color: $black;
            font-size: 32px;
            font-weight: 700;
        }

        &-1 {
            padding: 16px 20px 16px 20px;
            top: 0;
            right: 0;
            position: absolute;
            @include breakpoint(tablet) {
                top: -15px;
            }
            @include breakpoint(tablethorizontal) {
                top: 64px;
                padding-right: 40px;
                
            }
            @include breakpoint(desktop) {
                top: 64px;
                right: 55px;
                padding-right: 40px;
                
            }
        }

        &-2 {
            padding: 16px 45px 16px 20px;
            bottom: 0;
            left: 0;
            position: absolute;
            @include breakpoint(tablet) {
                bottom: -80px;
                left: 34px;
            }
            @include breakpoint(tablethorizontal) {
                bottom: -130px;
                left: 64px;
            }
            @include breakpoint(desktop) {
                bottom: -50px;
                left: 80px;
                
            }
        }
    }
    
    
    &__img-mobile {
        @include breakpoint(tablet) {
            display: none;
        }
    }
    .container {
        @include breakpoint(tablet) {
            display: flex;
            justify-content: space-between;
        }
        @include breakpoint(tablethorizontal) {
            padding-bottom: 200px;
        }
    }
    &__content {
        @include breakpoint(tablet) {
            width: 50%;
            
        }
        @include breakpoint(tablethorizontal) {
            width: 40%;
        }
        @include breakpoint(desktop) {
            max-width: 450px;
        }
    }

    @include breakpoint(tablethorizontal) {
        margin-bottom: 50px;
    }




}