$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* Fonts*/


$primary-font: "Plus Jakarta Sans", sans-serif;

/* Sizes Container */



/* Colors */

$blue: #666CA3;
$black: #13183F;
$grey: #83869A;
$pink: #F74780;
$light-pink: #FFA7C3;
$white: #FFFFFF;
$orange: #FF6F48;
$magenta: #F02AA6;
$dark-blue: #4851FF;

$gradient-pink-orange: linear-gradient(180deg, $orange 0.04%, $magenta 100%);
$gradient-pink-blue: linear-gradient(180deg, $dark-blue 0.04%, $magenta 100%);