$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* Fonts*/


$title-font: "Big Shoulders", sans-serif;
$body-font: "Outfit", sans-serif;

/* Sizes Container */



/* Colors */

$bronce: #D5966C;
$black: #151515;
$grey: #444444;
$white: #FFFFFF;


$gradient-pink-orange: linear-gradient(180deg, $orange 0.04%, $magenta 100%);
$gradient-pink-blue: linear-gradient(180deg, $dark-blue 0.04%, $magenta 100%);