.container_info {
    padding-left: 15px;
    padding-right: 22px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(tablethorizontal) {
        padding-left: 24px;
        padding-right: 24px;
    }
}
